body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
/* Heading - Cinzel */
h1, h2, h3 {
    font-family: 'Cinzel', serif;
}

/* Subheading - Lora */
h4, h5, h6 {
    font-family: 'Lora', serif;
}

/* Paragraph Text - Merriweather */
p {
    font-family: 'Merriweather', serif;
}
h1, h2, h3 {
    font-family: 'Cinzel', serif;
    font-weight: bold; /* Adjust weight if needed */
}
h1 {
    font-size: 3em; /* Adjust size as needed */
}

h2 {
    font-size: 2.5em;
}

p {
    font-size: 1.1em;
}
